doctype html
html
  head
    link(rel="stylesheet" type="text/css" href="/css/skill.css")
    title test
  body
    if skill_data
      table
        tr
          td
            a(href="guitar") Guitarfreaks
            a /
            a(href="drum") Drummania
        tr
          td
            a Last updated: 
            a= update_date
        tr
          td
            table(class="profile_table")
              tr
                td NAME
                td SKILL
                td HOT
                td OTHER
              tr(class="lv"+skill_lv)
                td= player_name
                td= skill_point
                td= skill_data.hot.point
                td= skill_data.other.point
        tr
          td
            table(class="skill_table")
              caption HOT
              tr
                th(class="name") 曲名
                th(class="diff") レベル
                th(class="achieve") 達成率
                th(class="skill") スキル
              if skill_data.hot.data
                each item in skill_data.hot.data
                  tr(class=item.diff)
                    td(class="name")= item.name
                    td(class="diff")= item.diff_value + " " + item.diff
                    td(class="achieve")= item.achive_value
                    td(class="skill")= item.skill_value
        tr  
          td
            table(class="skill_table")
              caption OTHER
              tr
                th(class="name") 曲名
                th(class="diff") レベル
                th(class="achieve") 達成率
                th(class="skill") スキル
              if skill_data.other.data
                each item in skill_data.other.data
                  tr(class=item.diff)
                    td(class="name")= item.name
                    td(class="diff")= item.diff_value + " " + item.diff
                    td(class="achieve")= item.achive_value
                    td(class="skill")= item.skill_value
    else
      p NO DATA
