doctype html
html
  head
    link(rel="stylesheet" type="text/css" href="/css/guitar.css")
    title test
  body
    a(href="guitar") Guitarfreaks
    a /
    a(href="drum") Drummania
    if skill_data
      table
        tr
          td
            table(class="skill_table")
              caption HOT
              tr
                th(class="name") 曲名
                th(class="diff") レベル
                th(class="achieve") 達成率
                th(class="skill") スキル
              each item in skill_data.hot
                tr(class=item.diff)
                  td(class="name")= item.name
                  td(class="diff")= item.diff_value + " " + item.diff
                  td(class="achieve")= item.achive_value
                  td(class="skill")= item.skill_value
        tr  
          td
            table(class="skill_table")
              caption OTHER
              tr
                th(class="name") 曲名
                th(class="diff") レベル
                th(class="achive") 達成率
                th(class="skill") スキル
              each item in skill_data.other
                tr(class=item.diff)
                  td(class="name")= item.name
                  td(class="diff")= item.diff_value + " " + item.diff
                  td(class="achieve")= item.achive_value
                  td(class="skill")= item.skill_value
    else
      p NO DATA
