doctype html
html
  head
    link(rel="stylesheet" type="text/css" href="/css/skill.css")
    title gitadora skill viewer
  body
    table
      if skill_data
        tr
          td(colspan="2")
            a(href="g") Guitarfreaks
            a /
            a Drummania
        tr
          td(colspan="2")
            a Last updated: 
            a= update_date
        tr
          td(colspan="2")
            table(class="profile_table")
              tr
                td NAME
                td SKILL
                td HOT
                td OTHER
              tr(class="lv"+skill_lv)
                td= player_name
                td= skill_point
                td= skill_data.hot.point
                td= skill_data.other.point
        tr
          td(colspan="2")
            table(class="skill_table")
              caption DRUM HOT
              tr
                th(class="name") 曲名
                th(class="diff") レベル
                th(class="achieve") 達成率
                th(class="skill") スキル
              if skill_data.hot.data
                each item in skill_data.hot.data
                  tr(class=item.diff)
                    td(class="name")= item.name
                    td(class="diff")= item.diff_value + " " + item.diff
                    td(class="achieve")= item.achive_value
                    td(class="skill")= item.skill_value
        tr  
          td(colspan="2")
            table(class="skill_table")
              caption DRUM OTHER
              tr
                th(class="name") 曲名
                th(class="diff") レベル
                th(class="achieve") 達成率
                th(class="skill") スキル
              if skill_data.other.data
                each item in skill_data.other.data
                  tr(class=item.diff)
                    td(class="name")= item.name
                    td(class="diff")= item.diff_value + " " + item.diff
                    td(class="achieve")= item.achive_value
                    td(class="skill")= item.skill_value
        tr
          td 
            form(class="save" action="/save" method="post")
              input(type="hidden" name="skill_id" value=id) 
              input(type="hidden" name="type" value="drum") 
              input(type="hidden" name="skill" value=skill_point) 
              input(type="submit" value="このスキル表を永久に保存したい！")
          td(class="footer" align="right")
            a(href="/") このサイトについて
      else
        tr
          td NO DATA
        tr(class="footer")
          td
            a(href="/") このサイトについて

