doctype html
html
  head
    link(rel="stylesheet" type="text/css" href="/css/userlist.css")
    title gitadora skill viewer
  body
    table(class="userlist")
      tr
        td ID
        td NAME
        td GUITAR
        td DRUM
        td LAST UPDATE
        td COUNT
      each item in data
        tr
          td= item.id
          td= item.player_name
          td
            a(class="lv"+parseInt(item.guitar_skill/500) href=item.id+"/g")= item.guitar_skill
          td
            a(class="lv"+parseInt(item.drum_skill/500) href=item.id+"/d")= item.drum_skill
          td= item.update_date
          td= item.update_count

