doctype html
html
  head
    link(rel="stylesheet" type="text/css" href="/css/userlist.css")
    link(rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Andada")
    script(type='text/javascript' src="/js/google_analytics.js")
    title gitadora skill viewer
  body
    table(class="userlist")
      tr(class="title")
        td(colspan=6)= version_full
      tr(class="head")
        td ID
        td NAME
        td GUITAR
        td DRUM
        td LAST UPDATE
        td COUNT
      each item in data
        tr
          td= item.id
          td= item.player_name
          td
            a(class="lv"+parseInt(item.guitar_skill/500) href=item.id+"/g")= item.guitar_skill
          td
            a(class="lv"+parseInt(item.drum_skill/500) href=item.id+"/d")= item.drum_skill
          td= item.update_date
          td= item.update_count

