doctype html
html
  head
    link(rel="stylesheet" type="text/css" href="/css/list.css")
    link(rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Andada")
    script(type='text/javascript' src="/js/google_analytics.js")
    script(type='text/javascript' src="//cdn.jsdelivr.net/jquery/3.1.1/jquery.min.js")
    script(type='text/javascript' src="//cdn.jsdelivr.net/tablesorter/2.28.4/js/jquery.tablesorter.min.js")
    title= `プレイヤー一覧 | ${version_full} | Gitadora Skill Viewer`
  body
    table(class="main")
      tr
        td(class="title")= version_full
      tr
        td
          table(class="userlist" id="myTable" class="tablesorter")
            thead
              tr(class="head")
                th ID
                th NAME
                th GUITAR
                th DRUM
                th LAST UPDATE
                if showCount
                  th COUNT
            tbody
              each item in data
                tr
                  td= item.id
                  td= item.player_name
                  td
                    a(class="lv"+parseInt(item.guitar_skill/500) href=item.id+"/g")= item.guitar_skill
                  td
                    a(class="lv"+parseInt(item.drum_skill/500) href=item.id+"/d")= item.drum_skill
                  td= item.update_date
                  if showCount
                    td= item.update_count
  script.
    $(document).ready(function(){ 
      $("#myTable").tablesorter(); 
    }); 

