doctype html
html
  head!= `${helmet.title.toString()}${helmet.meta.toString()}${helmet.link.toString()}`
    meta(name="viewport" content="width=device-width,initial-scale=1")
    meta(name="google-site-verification" content=`${googleSiteVerfication}`)
    link(rel="stylesheet" type="text/css" href="/css/font-awesome.min.css")
    link(rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Andada")
    link(rel="stylesheet" href="https://unpkg.com/react-table@latest/react-table.css")
    script(type='text/javascript' src="//cdn.jsdelivr.net/jquery/3.1.1/jquery.min.js")
    script(type='text/javascript' src="/js/google_analytics.js")
  body
    div(id="app")
      div!= content
    script.
      window.App=`!{appString}`;
    script(src="/js/bundle.js" type="text/javascript")